<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Search</title>
    <%- include('../overall/layout'); %>
  </head>
  <body>
    <header><%- include('../overall/header'); %></header>
    <h3>Sorry! You need to log in in order to access the shoppig cart.</h3>
  </body>
  </html>