<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Onlie Shop Create a new account</title>
    <%- include('../overall/layout'); %>
  </head>
  <body>
    <header><%- include('../overall/header'); %></header>
    <h3>Create a new account</h3>
    <form method="POST">
      <div>
        Name: <input class="form-control" type='text' name='name'/>
      </div>
      <div>
        Surname: <input class="form-control" type='text' name='surname'/>
      </div>
      <div>
      Email: <input class="form-control" type='text' name='email'/>
      </div>
      <div>
        Password: <input class="form-control" type='text' name='password'/>
      </div>
      <div>
        <a class="btn btn-primary" href="/" type="button">Save</a>
      </div>
    </form>
  </body>
</html> 