<!-- views/login_page.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Online Shop Log in</title>
    <%- include('../overall/layout'); %>
  </head>
  <body>
    Tutaj będzie logowanie
  </body>
</html>