<!-- views/shopping_cart.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Online Shop Thank You</title>
    <%- include('../overall/layout'); %>
  </head>
  <body>
    <h2>Thank you for ordering with us!</h2>
    <h4>We are beginning to prepare it.</h4>
    <div class="row">
        <h4 class="col-4">Need anything else?</h4>
        <a class="btn btn-primary" href="/" type="button" background-color: #612ee7; border-color: #612ee7;>Begin a new order</a>
      </div>
  </body>